[mysqld]
server-id = 2
relay_log = mysql-relay-bin
relay_log_index = mysql-relay-bin.index
log_bin = mysql-bin
binlog_format = ROW
replicate_do_db = testdb
replicate_do_db = replication_test
read_only = 1
bind-address = 0.0.0.0
